---
layout: default
---

<div class="stops">
{% include line.html stop="Jernbantorget" connections="25 20 8=bus,R71=train,3=tram" %}
{% include line.html stop="Aker Brygge" connections="10 1=bus,1=tram,2=boat" %}
{% include line.html stop="Arendalsgate" connections="25=bus,3 1=tram,10=boat" %}
{% include line.html stop="Jernbantorget" connections="2 20=bus,R71 R10=train,3=tram" %}
{% include line.html stop="Galgeberg" connections="1=bus,1=tram,2=boat" %}
{% include line.html stop="Tøyen" connections="18 10=bus,3 5=tram,10=boat" %}
</div>

{% include tracker.html %}

<footer>
  <a href="about">?</a>
</footer>
