<!DOCTYPE html>
<!--
  {{site.description}}
  @author {{site.author.name}} <{{site.author.email}}>
-->
<html lang="{{site.lang}}">
<head>
  <title> {{site.title}} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{{site.title}}">
  <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">
  <meta name="theme-color" content="{{site.color}}">
  {% if site.css %}<link rel="stylesheet" href="{{site.baseurl}}{{site.css}}">{% endif %}
  <meta property="og:url" content="{{site.url}}{{site.baseurl}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{site.title}}">
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:image" content="{{site.url}}{{site.baseurl}}/src/favicon-400.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{site.author.twitter}}">
  <meta name="twitter:title" content="{{site.title}}">
  <meta name="twitter:description" content="{{site.description}}">
  <meta name="twitter:image" content="{{site.url}}{{site.baseurl}}/src/favicon-400.png">
  <link rel="apple-touch-icon" sizes="64x64" href="{{site.baseurl}}/src/favicon-64.png">
  <link rel="apple-touch-icon" sizes="200x200" href="{{site.baseurl}}/src/favicon-200.png">
  <link rel="apple-touch-icon" sizes="400x400" href="{{site.baseurl}}/src/favicon-400.png">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/src/favicon-200.png" sizes="200x200">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/src/favicon-64.png" sizes="64x64">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/src/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/src/favicon-16.png" sizes="16x16">
  <meta name="application-name" content="{{site.title}}">
  <meta name="msapplication-TileColor" content="{{site.color}}">
  <meta name="msapplication-TileImage" content="{{site.baseurl}}/src/favicon-400.png">
</head>
