.stops {
  //margin for the stripe
  margin-left: 2.5rem;
  padding: .4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // - height of button
  height: calc(100vh - 6rem);

  &__item {

    p {
      font-size: 1.6em;
    }
  }
}

.connections {
  padding-left: 0;
  display: flex;

  &__item {
    list-style-type: none;
    padding: .2em;
    font-weight: 700;

    &:before {
      content: '';
      width: 1.2em;
      height: 1em;
      margin-right: .2em;
      display: block;
      float: left;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }
}

// @import 'icons';
