.tracker {
  &__stop {
    //shitty:
    position: fixed;
    bottom: 0;
    left: 1rem;
    //
    background-color: $dark;
    border-color: $light;
    border-style: solid;
    border-width: .2rem;
    border-bottom: none;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    font-family: $font;
    font-size: 2em;
    padding: .75em;
    color: $light;

    &:active {
      color: $accent;
    }

    &--enquired {
      border-color: $accent;
    }
  }

  &__stripe {
    background-color: $light;
    width: .2rem;
    height: 90vh;
    //shitty
    position: fixed;
    top: 0;
    left: 2rem;
  }
}
