.tracker {
  &__stop {
    background-color: $dark;
    border-color: $light;
    border-style: solid;
    border-width: .2em;
    border-bottom: none;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    font-family: $font;
    font-size: 2em;
    padding: .75em;
    color: $light;

    &:active {
      color: $accent;
    }

    &--enquired {
      border-color: $accent;
    }
  }

  &__line {

  }
}
