$dark: $site-color;
$light: white;
$accent: #bf0000;
$font: Din, sans-serif;
$radius: .3em;

@font-face {
  font-family: Din;
  src: url(../fonts/Din/DIN-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Din;
  src: url(../fonts/Din/DIN-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Din;
  src: url(../fonts/Din/DIN-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
